

    <div class="outer-box">
        <div class="inner-box">
            <header class="signup-header">
                <h1>Swasth Bharat</h1>
                


            </header>
            <main class="signup-body">
                <form action="">
                    <p>
                    <label for="fullname">FullName</label>
                    <input type="text " id="fullname" placeholder="" >

                </p>
                <p>
                    <label for="email">Your ID</label>
                    <input type="email " id="email" placeholder="454546XXXXXX" >
                    
                </p>
                <p>
                    <label for="fullname">Your Password</label>
                    <input type="password " id="password" placeholder="at least 8 characters" >
                    
                </p>
                <p>
                    <a routerLink="../profile" id="submit" class="btn btn-success btn-send "  >Login</a>

                
                </p>
                <footer class="signup-footer">
                   <p>Don't have an Account ? <a href="#">Register</a></p>
                </footer >

                </form>
            </main>

        </div>
        <div class="circle c1"></div>
        <div class="circle c2"></div>


    </div>

    
