.parent {
   
    height: 100vh; 
    padding-top: 9vw;
   
    background-image: url('/assets/navbar.jpg');

  }
  .child{
    width: 10vw;
    height: 10vw;
    margin-left: 45vw;
    border-radius: 50%;
  }
  .name{
    text-align :center;
    color: black;
  }

  .container {
    display: flex;
    justify-content: center;
  }
  .container input{
    border-color: rgb(80, 130, 80);
    border-width: 3px;
  }