<div class="parent">
    <div class="detail">
    <H2><b> Welcome {{name}}</b></H2>
    <div class="document"> </div>
</div>
<div class="profilesection">
    <div class="profileimage">

    </div>
    <div class="table">
    <table>

        <tr>
            <td colspan="4">Name</td>
            <td colspan="6">Adhar Id</td>
        </tr>
        <tr>
            <td colspan="4">Phone Number</td>
            <td colspan="6">Email</td>
        </tr>
        <tr>
            <td colspan="2">Age</td>
            <td colspan="2">Sex</td>
            <td colspan="2">Blood Group</td>
            <td colspan="2">xyz</td>
        </tr>
        <tr>
            <td colspan="10">Address</td>
        </tr>
    </table></div>

    
</div>
    
   

</div>