<div class="parent">
    <div class="detail">
    <H2><b> Welcome {{name}}</b></H2>
    <div class="document">
        <table style=" margin-top: 1vw ;margin-left: 3.5vw;">
            <tr >
            <td class="userdetail"></td>
            <td class="userdetail"></td>
            <td class="userdetail"></td>
            <td class="userdetail"></td>
        </tr>
        </table> </div>
</div>
<div class="profilesection">
    <div >
        <img class="profileimage"src="assets/profileimage.jpg">
    </div>
    <div class="table">
    <table>

        <tr>
            <td colspan="2"> <b>Name :</b> Prabha Devi</td> </tr>
            <tr><td colspan="6"><b>Addhar :</b> 2343 3253 3543</td></tr>
       
        <tr>
            <td colspan="4"><b>Mobile : </b>+91 98884728</td></tr>
           <tr><td colspan="6"><b>Email :</b> prabhadevi@gmail.com</td>
        </tr>
        <tr>
            <td colspan="3"><b>Age :</b> 36</td>
            <td colspan="3"><b>Sex : </b>Female</td> </tr>
           <tr> <td colspan="3"><b>Blood Group : </b>AB+</td></tr>
       
        <tr>
            <td colspan="10"><b>Address : </b>Prayagraj , Uttar Pradesh</td>
        </tr>
    </table></div>

    
</div>
    
   

</div>