*{
    margin: 0;
    padding: 0;
}

.banner{
    height: 41vw;


}
.banner img{
    position: static;
    padding-top: 5vw;

    height: 40vw;
    width: 100%;

}

h2{
    background: #84AAE1;
    height: 3vw;
    width: 100%;
    margin-bottom: 2vw;
    padding-top: 0.5vw;
    padding-left: 1vw;

}
h3{
    text-align: center;
    color:rgb(58, 58, 221);
    font-size: x-large;
    margin-bottom: 1vw;
}
.card{
    float: left;    height: 40vw;

}
.card img{
    width:40vw;
    height: 30vw;

}

.about{
    padding-bottom: 2vw;
    height:max-content;
    width: 97vw;
    height: 40vw;
    font-size: larger;
}
.faqs{
    position: static;
}
.footer{
    background-color: rgb(69, 19, 127);
    text-align: center;
    height: 6vw;
    padding-top:3vw;
    color: white;
    margin-top: 2vw;
}
h4{
    padding-left: 1.5vw;
    font-size: larger;
    background-color:rgb(188, 188, 212);
    margin-left: 15vw;
    margin-right: 15vw;

    padding-bottom: 0.5vw;
    padding-top: 0.5vw;
    padding-right: 0.5vw;
    margin-bottom: 0.5vw;
}
h4:hover{
    background-color: rgb(71, 71, 82);;
}
h5{
    padding-left: 1.5vw;
    font-size: larger;
    background-color:rgb(239, 134, 245);
    margin-bottom: 2vw;
    margin-left: 15vw;
    margin-right: 15vw;

    padding-bottom: 0.5vw;
    padding-top: 0.5vw;
    padding-right: 0.5vw;
}
section{
    margin-top: 1vw;
    width: 69vw;
    margin-left: 15vw;
    margin-right: 15vw;
    background-color: #b7c1ce;
    padding: 1.5vw;
    font-size: larger;
}